@model IEnumerable<midterm_project.Models.Dog>

@{
    ViewData["Title"] = "Dog List";
}

<div class="list-wrapper">
    @foreach (var dog in Model ?? new List<Dog>())
    {
        <div class="dog-summary row">
            <p class="dog-name col-10"><b>@dog.Name</b></p>
            <img src="@dog.ImgUrl" class="rounded" style="width: 300px;" alt="@dog.Name">
            <div class="col-12">   
                <a class="btn btn-sm btn-light mb-3 float-end"
                    asp-controller="Dog" asp-action="Detail" asp-route-id="@dog.DogId" >
                    Details
                </a>
                <a class="btn btn-sm btn-secondary mb-3 float-end"
                    asp-controller="Dog" asp-action="Edit" asp-route-id="@dog.DogId">
                    Edit
                </a>
                <a class="btn btn-sm btn-light mb-3 float-end"
                    asp-controller="Dog" asp-action="Delete" asp-route-id="@dog.DogId" >
                    Delete
                </a>
            </div>
        </div>
        <hr>
    }

     <div>
        <a class="btn btn-primary mt-3 float-end" asp-controller="Dog" asp-action="Add">Create New</a>
    </div>   
    <br>
    <br>
</div>

